/* stylelint-disable import-notation */
/* stylelint-disable value-keyword-case */
/* stylelint-disable hue-degree-notation */
/* stylelint-disable lightness-notation */
/* stylelint-disable at-rule-no-unknown */
@import "tailwindcss";
@import "@nuxt/ui";


@layer base {
    ::-webkit-scrollbar {
      @apply w-2 h-2
    }

    ::-webkit-scrollbar-track {
      @apply bg-inherit
    }
    
    ::-webkit-scrollbar-thumb {
        @apply bg-neutral-300  rounded-lg    
    }
    
    ::-webkit-scrollbar-thumb:hover {
      @apply bg-neutral-400 
    }

    ::-webkit-scrollbar-thumb:active {
        @apply bg-neutral-500 
      }

    .dark ::-webkit-scrollbar-thumb {
        @apply bg-neutral-700 rounded-lg   
    }

    .dark ::-webkit-scrollbar-thumb:hover {
        @apply bg-neutral-600    
    }
    
    .dark ::-webkit-scrollbar-thumb:active {
        @apply bg-neutral-500    
    }
  }